jobs:
- job: BuildAndScan
  displayName: Build and Scan
  steps:
  - template: ../steps/debug-vars.yaml

  - bash: |
      npm ci
      npm run compile-sass
      docker build -t $(dockerImage):$(imageTag) .
    displayName: Docker - build

  - task: SnykSecurityScan@0
    displayName: Snyk - security scan
    inputs:
      serviceConnectionEndpoint: 'snyk-api-connection'
      testType: 'container'
      dockerImageName: $(dockerImage):$(imageTag)
      dockerfilePath: 'Dockerfile'
      monitorOnBuild: true
      failOnIssues: true

- job: DockerPush
  displayName: Push
  dependsOn: BuildAndScan
  steps:
  - template: ../steps/debug-vars.yaml

  - bash: |
      npm ci
      npm run compile-sass
    displayName: Compile CSS

  - task: Docker@2
    displayName: Docker - Login
    inputs:
      command: login
      containerRegistry: $(acrConnection)

  - template: ../steps/append-sha.yaml

  - bash: |
      docker build -t $(dockerImage):$(imageTag) .
      docker push $(dockerImage):$(imageTag)
    displayName: Docker - Build and Push

  - task: Docker@2
    displayName: Docker - Logout
    inputs:
      command: logout
      containerRegistry: $(acrConnection)

  - task: AzureCLI@2
    displayName: 'ACR - lock production image'
    condition: eq(variables.isTag, 'True')
    inputs:
      azureSubscription: $(armConnection)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        az acr repository update \
          --name $(dockerRegistry) \
          --image $(imageName):$(imageTag) \
          --write-enabled false