<div class="logos">
	<a href="https://nodejs.org/" target="_blank"><img src="{{ assetsBaseUrl }}/images/nodejs-logo.svg" class="img-logo img-logo--nodejs"></a>
	<a href="https://azure.com" target="_blank"><img src="{{ assetsBaseUrl }}/images/msft-azure-logo.svg" class="img-logo img-logo--azure"></a>
</div>

<div class="row">
	<div class="column">
		<h3>Express.js Setup</h3>
		<ul>
			<li><a href="https://www.npmjs.com/package/express-handlebars">express-handlebars</a></li>
			<li><a href="https://www.npmjs.com/package/standard-healthcheck">standard-healthcheck</a></li>
			<li><a href="https://github.com/julie-ng/azure-nodejs-demo/blob/main/app/middleware/force-https.js">Force https</a></li>
			<li><a href="https://github.com/julie-ng/azure-nodejs-demo/blob/main/app/app.js#L35">Webhook Test</a></li>
		</ul>
	</div>

	<div class="column">
		<h3>Azure Integration</h3>
		<ul>
			<li><a href="https://github.com/julie-ng/azure-nodejs-demo/blob/main/azure-pipelines.yml">Azure DevOps Pipeline</a></li>
			<li><a href="https://github.com/julie-ng/azure-nodejs-demo/blob/main/app/middleware/monitor.js">Application Insights</a></li>
		</ul>
	</div>
</div>

<footer>
	<p>
		Open Source on GitHub.com<br>
		<a href="https://github.com/julie-ng/azure-nodejs-demo" target="_blank">https://github.com/julie-ng/azure-nodejs-demo</a>
	</p>

	<p>
		<a href="https://dev.azure.com/julie-msft/public-demos/_build/latest?definitionId=37&branchName=production" target="_blank"><img src="https://dev.azure.com/julie-msft/public-demos/_apis/build/status/azure-nodejs-demo%20(production)?branchName=production"></a>
	</p>
</footer>
