<h3>Features</h3>
<ul>
	<li>Azure
		<ul>
			<li>Azure DevOps <a href="https://github.com/julie-ng/azure-nodejs-dummy/blob/master/azure-pipelines.yml">Pipeline</a></li>
			<li><a href="https://github.com/julie-ng/azure-nodejs-dummy/blob/master/app/middleware/monitor.js">Application Insights</a> Integration</li>
		</ul>
	</li>
	<li>Handlebars Views</li>
	<li><a href="https://github.com/julie-ng/azure-nodejs-dummy/blob/master/app/middleware/force-https.js">Force https</a></li>
	<li>Webhook Test</li>
</ul>
<p>
	View source at <a href="https://github.com/julie-ng/azure-nodejs-dummy" target="_blank">https://github.com/julie-ng/azure-nodejs-dummy</a>
</p>
