name: $(BuildID)

trigger:
  branches:
    include:
    - fix/*
    - feat/*
    - main
  tags:
    include:
    - v*
  paths:
    exclude:
    - README.md

pr:
- main

pool:
  vmImage: 'ubuntu-latest'

schedules:
  - cron: "0 12 * * 0"
    displayName: Weekly Sunday build
    always: true
    branches:
      include:
      - main

variables:
- template: vars/global.yaml

stages:

# Tests Stage
# -----------
- stage: Tests
  displayName: Node.js - Tests
  condition: not(${{ variables.isTag }})
  jobs:
  - job: Tests
    steps:
    - template: steps/debug.yaml

    - script: npm ci
      displayName: npm install

    - script: npm run lint
      displayName: linter

    - script: npm run test
      displayName: tests

    - script: npm audit --audit-level=moderate
      displayName: npm audit (dev)
      continueOnError: true

    - script: npm audit --production --audit-level=high
      displayName: npm audit (prod)


# Build Stage
# -----------
- stage: Build
  displayName: Docker - Build and Push
  condition: or(${{ variables.isTag }}, and(succeeded(), ${{ variables.isMain }}, ${{ variables.isTrustedCI }}))
  variables:
    - group: nodejs-demo-kv
  jobs:
  - job: Build
    steps:
    - template: steps/debug.yaml

    - bash: |
        npm ci
        npm run compile-sass
        docker build -t $(dockerTag) .
      displayName: docker - build

    - task: SnykSecurityScan@0
      displayName: Snyk - security scan
      inputs:
        serviceConnectionEndpoint: 'snyk-api-connection'
        testType: 'container'
        dockerImageName: $(dockerTag)
        dockerfilePath: 'Dockerfile'
        monitorOnBuild: true
        failOnIssues: true

    # See README.md about why `docker login`
    - bash: docker login $(dockerRegistry) --username $ACR_USERNAME --password $ACR_PASSWORD
      displayName: registry - login
      env:
        ACR_USERNAME: $(kv-acr-username)
        ACR_PASSWORD: $(kv-acr-password)

    - bash: docker push $(dockerTag)
      displayName: docker - push

    - bash: docker logout $(dockerRegistry)
      displayName: registry - logout

    - task: AzureCLI@2
      displayName: 'registry - lock image (prod)'
      condition: ${{ variables.isTag }}
      inputs:
        azureSubscription: ${{ variables.armConnection }}
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az acr repository update -n $(dockerRegistry) -t $(imageName):$(imageTag) --write-enabled false